.section {
  width: 100%;
  height: 90vh;

}

.container {
  padding: 1rem;
  display: flex;
  height: inherit;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.hero-data {
  width: 600px;
}

.hero-image {
  width: 550px;
}

img {
  width: inherit;
}

.primary-heading {
  font-size: 3.8rem;
  font-weight: 700;
  color: rgb(10, 10, 54);
}

.para {
  font-size: 1rem;
  margin-bottom: 35px;
}

.btns {
  width: 200px;
  font-size: 15px;
  background: rgb(10, 10, 54);
  color: rgb(255, 255, 255);
  padding: 0.8rem 1.3rem;
  font-size: 1.2rem;
}

.btns:hover {
  background-color: rgb(42, 42, 176);
}


@media (max-width: 800px) {
  .container {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: space-around;
    gap:40px;
  }

  .hero-data,
  .hero-image {
    width: 100%;
  }

  .primary-heading {
    font-size: 2.5rem;
  }

  .btns {
    width: 150px;
  }
}

@media (max-width: 480px) {

  .container{
    margin-top: 0rem;
  }
  .primary-heading {
    font-size: 2rem;
  }

  .btns {
    width: 120px;
  }
}
