.book {
    display: inline-block;
    width: 250px;
    height: 400px;
    box-shadow: 0 0 20px #aaa;
    margin: 25px;
    padding: 10px 10px 0 10px;
    vertical-align: top;
    transition: height 1s;
  }
  h1 {
    color: gray;
    text-align: center;
    font-size: 50px;
    margin-bottom: -3px;
  } 
  .cover {
    border: 2px solid gray;
    height: 80%;
    overflow: hidden;
  }
  
  .cover img {
    width: 100%;
  }
  
  .book p {
    margin-top: 12px;
    font-size: 20px;
  }
  
  .book .author {
    font-size: 15px;
  }
  @media (max-width: 941px) {
    .container {
      max-width: 700px;
    }
    .book {
      margin: 49px;
    }
  }
  @media (max-width: 730px) {
    .book {
      display: block;
      margin: 0 auto;
      margin-top: 50px;
    }
    
  }